@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }

    .fixed-bottom-menu {
        display: flex;
    }

    .reg-button {
        display: none;
    }

    .button-medium {
        font-size: 12px;
        margin: 2px 8px;
    }

    .input-area, textarea {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        max-width: 1200px;
        min-height: 120px;
    }
    .input-area button {
        width: 48px;
        border: 1px solid #616DF0;
        margin: 0 0 0 10px;
    }
    .input-area button img {
        width: 32px;
        border: none;
        border-radius: 15px;
    }

    /* .container, .preview-content, .history-container,
    #saved-survey-container {
        margin-top: 20px;
    } */


    #char-count {
        margin-left: 70%;
    }

    .upload-container {
        margin-top: 80px;
    }
    
    #saved-survey-container div {
        padding: 2px;
    }

    .surveys-container p {
        font-size: .8em;
    }

    .header {
        flex-direction: row;
        align-items: center;
    }

    .navigation {
        display: none;
        width: 100%;
        margin: 10px 0;
    }

    .navigation.active {
        display: flex; 
        flex-direction: column; 
        align-items: center;
    }

    .navigation li {
        margin: 5px 0; 
    }

    .auth-buttons {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .auth-buttons .btn {
        width: 100%;
        margin: 5px 0;
    }

    .burger-menu {
        display: flex;
    }

    textarea, #survey-container {
        width: 100%;
    }

    .payment-data {
        width: 100px;
    }

    .contact {
        margin: 16px 0;
        width: 100%;
    }

    .contact-container {
        flex-direction: column;
    }

    .modal-content {
        min-width: 160px;
        max-width: 260px;
    }

    /* Кастомный слайдер-ползунок кол-ва вопросов */
    .custom-slider {
        width: 80%;
        height: 8px;
        margin: 10px 20px;
    }

    #question-slider-text {
        margin-left: 0;
    }

    .subscription-offer h2 {
        font-size: 18px;
    }

    .result-full h3 {
        font-size: 16px;
    }
}