.activity-item {
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.activity-details {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.activity-details li {
    margin: 5px 0;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.button-medium {
    flex: 1;
    min-width: 120px;
}

.button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button-content img {
    margin-right: 5px;
}

.button-content:hover {
    opacity: .75;
}

table.subscription-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th.table-header-cell, td.table-cell {
    padding: 12px;
    text-align: left;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

tr.table-header {
    background-color: #212128;
}

tr.table-header th {
    color: #616DF0;
}

tr:nth-child(even) {
    background-color: #1b1b1e;
}

tr.table-row:hover {
    background-color: #333;
}

@media (max-width: 600px) {
    table.subscription-table, thead, tbody, th, td, tr {
        display: block;
    }
    th.table-header-cell {
        display: none;
    }
    tr.table-row {
        margin-bottom: 15px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border: 1px solid #272736;
    }
    td.table-cell {
        text-align: right;
        position: relative;
        padding-left: 50%;
    }
    td.table-cell::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        padding-right: 10px;
        text-align: left;
        font-weight: bold;
        color: #616DF0;
    }
}


.disable {
    pointer-events: none;
}

.disable:hover {
    cursor: no-drop;
    pointer-events: none;
}
