@font-face {
    font-family: 'Unbounded Medium';
    src: url(../fonts/Unbounded-Medium.ttf);
}
@font-face {
    font-family: 'Unbounded Regular';
    src: url(../fonts/Unbounded-Regular.ttf);
}
@font-face {
    font-family: 'Unbounded Bold';
    src: url(../fonts/Unbounded-Bold.ttf);
}

@font-face {
    font-family: 'Namu Pro';
    src: url(../fonts/NAMU-Pro.woff2);
}


footer {
    font-family: 'Namu Pro';
    background-color: rgba(27, 26, 32, .5);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #BAB8C1;
    padding: 10px 20px;
    margin-top: 10%;
}
footer a {
    color: #A190F8;
    text-decoration: none;
    transition: .3s;
}

footer a:hover {
    text-decoration: underline;
}

footer h3 {
    font-family: 'Unbounded Bold';
    margin-bottom: 0;
    margin-top: 20px;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-block {
    min-width: 300px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 5px 0;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    flex: 1 1 100%;
    color: #777777;
}
.footer-bottom p {
    margin: 0;
    padding: 1px;
}

.footer-bottom a {
    color: #777777;
    text-decoration: underline;
}

.additional-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 50%;
    min-width: 100px;
    max-width: 600px;
}

.footer-bottom p, .additional-content a {
    font-size: 10px;
}

@media (max-width: 768px) {
    .small-text {
        font-size: 8px;
    }
}
