.burger {
    cursor: pointer;
    width: 25px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: .25s;
}

.burger div {
    background-color: #cecdd9;
    height: 3px;
    width: 100%;
    border-radius: 15px;
    transition: all 0.3s ease;
}
.line:nth-child(2) {
    top: 8px;
}
.line:nth-child(3) {
    top: 16px;
}

.burger.active .line:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 8px;
}

.burger.active .line:nth-child(2) {
    opacity: 0;
}

.burger.active .line:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 8px;
}

nav {
    display: none;
    transition: .25s;
}

nav.active {
    display: block;
    position: absolute;
    top: 100%;
    margin-top: 10px;
    right: 0;
    min-width: 100px;
    width: max-content;
    max-width: 300px;
    padding: 1em;
    border-radius: 16px;
    background-color: #151417;
    z-index: 1000;
    user-select: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
}

nav ul li:active, .burger:active {
    transform: scale(0.9);
}


nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
}

nav ul li {
    padding: 10px 20px 10px 20px;
    background-color: #201e24;
    border-radius: 10px;
    transition-duration: .25s;
}

nav ul li a {
    width: max-content;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.2s;
}

nav ul li a:hover {
    opacity: .75;
}

@media (max-width: 768px) {
    nav.active {
        right: 12px;
    }
}