@font-face {
    font-family: 'Unbounded Medium';
    src: url(../fonts/Unbounded-Medium.ttf);
}
@font-face {
    font-family: 'Unbounded Regular';
    src: url(../fonts/Unbounded-Regular.ttf);
}
@font-face {
    font-family: 'Unbounded Bold';
    src: url(../fonts/Unbounded-Bold.ttf);
}

@font-face {
    font-family: 'Namu Pro';
    src: url(../fonts/NAMU-Pro.woff2);
}

body {
    font-family: "Namu Pro", Arial, sans-serif;
    background-color: #18171a;
    color: #e8e7f1;
    margin: 0;
    padding: 0;
    transition-duration: .5s;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

h2 {
    font-family: "Unbounded Bold";
    margin-top: 10px;
    color: #e8e7f1;
    font-size: 1.8em;
    margin-bottom: 10px;
    font-size: 36px;
}

h3 {
    font-family: "Unbounded Bold";
    font-size: 20px;
}

p {
    margin: 10px 0;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1em;
    margin: 5px 0;
}

a {
    color: #616DF0;
    text-decoration: none;
}

.btn, button {
    display: inline-block;
    /* padding: 10px 20px; */
    color: #e8e7f1;
    /* background-color: #616DF0; */
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
}
.btn:hover, button {
    background-color: rgba(77, 68, 215, 0);
    cursor: pointer;
    opacity: .75;
}

.btn, button img {
    width: 72px;
    border-radius: 15px;
}
.input-area button {
    border: 2px solid #616DF0;
}

.submit-container {
    font-family: 'Unbounded Medium';
    margin: 0 auto;
    width: fit-content;
    transition: .25s;
}

.submit-container:hover {
    opacity: .5;
}

.submit-container button {
    font-family: 'Unbounded Medium';
    padding: 12px;
    border: 8px solid #5A66EB;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: transform 0.1s;
    max-height: none;
    animation: borderWave 2s infinite;
}

.submit-container button:active {
    transform: scale(0.9);
}

@keyframes borderWave {
    0% {
        border-color: #5A66EB;
        border-width: 8px;
    }
    25% {
        border-color: #b5bfff;
        border-width: 12px;
    }
    50% {
        border-color: #7A8FFF;
        border-width: 24px;
    }
    75% {
        border-color: #5A66EB;
        border-width: 12px;
    }
    100% {
        border-color: #5A66EB;
        border-width: 8px;
    }
}

.question {
    display: flex;
    margin-bottom: 15px;
    transition-duration: .25s;
}
.question label input[type="radio"] {
    display: none;
}

.question label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    cursor: pointer;
    transition-duration: .3s;
    border-radius: 8px;
}
.question label:hover {
    background-color: #28272F;
}

.question label p {
    margin: 0;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
}
.question input[type="radio"]:checked + p {
    background-color: #616DF0;
}


.survey-block {
    border-radius: 10px;
    width: 100%;
    color: #BAB8C1;
}
.survey-block p {
    margin: 0;
}
.survey-block a {
    padding: 20px;
    color: #d5d3db;
}

textarea {
    resize: none;
    overflow: hidden;
    font-family: 'Namu Pro';
}
textarea, #survey-container {
    width: 90%;
    background-color: #141414;
    color: #d5d3db;
    min-width: 100px;
    min-height: 76px;
    height: 78px;
    padding: 10px;
    /* border: 1px solid #616DF0; */
    border-radius: 15px;
    font-size: 16px;
    box-sizing: border-box;
}

#block-generate {
    margin-top: 10%;
}

.container, .preview-content {
    margin: 0 auto;
    display: block;
    background-color: rgba(27, 26, 32, .75);
    backdrop-filter: blur(4px);
    width: 80%;
    min-width: 320px;
    max-width: 1200px;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 8px 8px 20px rgba(36, 36, 36, .1);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transition: opacity .75s ease-in-out;
}

.container::before, .preview-content::before,
.container::after, .preview-content::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 2s ease;
}

.container::before {
    width: 400px;
    height: 400px;
    background: rgba(119, 12, 249, 0.945);
    top: -50px;
    left: -50px;
    filter: blur(12em);
}

.container::after {
    width: 500px;
    height: 500px; 
    background: #26BAE7;
    bottom: -100px;
    right: -100px;
    filter: blur(20em);
}

.container.show::before,
.container.show::after {
    opacity: 0.5;
}

.input-area {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}
.container div img {
    transition-duration: .25s;
}
.container div img:hover,
.button-medium:hover {
    opacity: .33;
}

.head-button {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.button-medium {
    margin: 5px 10px;
}

.button-medium a {
    text-decoration: none;
}


.upload-container {
    background-color: rgba(20, 20, 20, 0);
    color: #e8e7f1;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-container div {
    width: 100%;
    min-width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-container input,
.upload-container p,
.upload-container svg {
    width: fit-content;
}

#file-upload {
    display: none;
}

.upload-button {
    position: relative;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
}
.upload-button p {
    margin-top: 0;
}
.upload-button img {
    width: 48px;
}

.upload-button:hover {
    transform: scale(1.05);
}

.upload-button .checkmark {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease, top 0.3s ease;
}

.upload-button.loading .checkmark {
    display: block;
    top: -10px;
    opacity: 1;
}

.upload-button.loading {
    cursor: progress;
}
.upload-button {
    cursor: pointer;
}


.drop-area {
    border: 2px dashed #4b4652;
    border-radius: 30px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s;
    position: relative;
    margin-top: 20px;
}

.drop-area.hover {
    background-color: #a59ab3;
}



.result-container {
    margin-top: 20px;
    text-align: center;
}

.result-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.result-survey-title {
    margin-bottom: 20px;
}

.result-summary {
    display: none;
    font-size: 18px;
    margin-bottom: 20px;
}

.result-score {
    font-weight: bold;
    color: #6a61f0;
}
.result-full {
    width: 70%;
    max-width: 800px;
}


.progress-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-circle {
    transform: rotate(-90deg);
}

.progress-bg {
    fill: none;
    stroke-width: 10;
    stroke: #27293d;
}

.progress-fill {
    fill: none;
    stroke: #5A66EB;
    stroke-width: 10;
    stroke-linecap: round;
    transition: stroke-dashoffset 1.8s ease;
}

.progress-text {
    margin-top: -110px;
    margin-bottom: 110px;
    font-size: 1.5rem;
}


.preview-content {
    background-color: #6a61f0;
}

.history-container, .surveys-container {
    display: flex;
}

#saved-survey-container {
    margin-top: 50px;
}
#saved-survey-container div {
    padding: 5px;
}

.history-container a {
    color: #BAB8C1;
}

.surveys-container {
    flex-direction: row;
    margin: 0;
}
#surveys-container h3 {
    margin-top: 0;
    margin-bottom: 2em;
}


.container-buttons {
    display: flex;
    flex-direction: column;
}
.container-buttons .button-medium {
    margin: 0 auto;
    margin-top: 20px;
}

.head-button {
    display: flex;
    justify-content: space-between;
}

.button-medium {
    font-family: "Unbounded Medium";
    display: inline-block;
    flex-wrap: nowrap;
    background-color: #28272F;
    width: fit-content;
    transition: .25s;
    border-radius: 8px;
    padding:  0px 10px 0px 10px;
    justify-content: space-between;
}
.button-medium div {
    display: flex;
    align-items: center;
}
.button-medium div p {
    text-decoration: none;
    color: #d5d3db;
    font-size: .8em;
    padding-left: 4px;
    padding-right: 4px;
}
.button-medium div a {
    text-decoration: none;
}

.button-medium img {
    width: 16px;
}

.button-accent {
    background-color: #616DF0;
    color: #d5d3db;
}
.button-red {
    background-color: #e74c75;
    color: #d5d3db;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    max-width: 2000px;
    margin: 0 auto;
}

.logo-header {
    flex: 1;
    transition: .25s;
}
.logo-header:hover {
    opacity: .75;
}
.logo-header img {
    width: 160px;
}

.navigation {
    flex: 2;
    text-align: center;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navigation li {
    margin-left: 20px;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
}

.navigation a:hover, .accent-color-text, .profile-info strong {
    color: #616DF0;
}
.small-text {
    font-size: 10px;
}

hr {
    border-radius: 12px;
    border: none;
    height: 4px;
    background-color: #29272d;
    margin: 20px 0;
    width: 100%;
}

.auth-buttons {
    flex: 1;
    text-align: right; 
}

.auth-buttons .btn {
    text-decoration: none;
    color: white;
    background-color: #4A90E2;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s;
}


/* Страница профиля */
.profile ul, .profile p {
    color: #9f9ca9;
}
.profile-info {
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.error-message {
    background-color: #e74c75;
    color: #d5d3db;
    padding: 15px;
    border-radius: 5px;
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: top 0.5s ease;
}

.error-message.show {
    top: 20px; /* Конечная позиция */
}
