<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Летучка • Создать опрос</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:image:width" content="1058">
    <meta property="og:image:height" content="569">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <link rel="preconnect" href="">
    <link rel="dns-prefetch" href="">
    <meta name="theme-color" content="#616DF0">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
</head>
<body>
    {% include 'header.html' %}
    
    <div class="loader-container" id="loading-container">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    
    <div class="container" id="block-generate">
        <h2>На какую тему создать?</h2>
        <div class="input-area">
            <textarea id="user-text" rows="4" cols="60" placeholder="Введите текст здесь..."></textarea><br>
            <button onclick="submitText()">
                <img src="{% static 'img/icon-send.png' %}" alt="">
            </a>
        </div>
    </div>
    
    <div class="container question" id="saved-survey-container">
        <div class="head-button">
            <h2>История</h2>
            <div class="button-medium">
                <a href="{% url 'create' %}">
                    <div>
                        <p>Создать новый</p>
                        <img src="{% static 'img/icon-new.png' %}" alt="">
                    </div>
                </a>
            </div>
        </div>

        <div id="surveys-container">
        <p>Ваши предыдущие опросы</p>
            {% for survey_id, survey_title in surveys_data.items %}
                <label>
                    <a href="/result/{{ survey_id }}">
                        <div class="survey-block">{{ survey_title }}</div>
                    </a>
                </label><br>
            {% endfor %}
        </div>
        
    </div>

    {% include 'footer.html' %}
    
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
