<html lang="ru">
<head>
    {% include 'components/meta_tags.html' %}
    {% load static %}
    {% include 'components/linker.html' %}
</head>
<body>
    {% include 'header.html' %}

    <div class="container" >
        <p>Письмо со ссылкой для сброса пароля было отправлено Вам на почту</p>
        <div class="button-medium">
            <a href="{% url 'create' %}">
                <div>
                    <img src="{% static 'img/icon-back.png' %}" alt="">
                    <p>На главную</p>
                </div>
            </a>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>
