
askify_app/config.json
db.sqlite3
askify_app/forbidden_words.txt
logger.csv
.env
*.csv
logger.csv
/docs
/backup
askify_app/settings.py
askify_service/templates/payments/tbank-payment.js
askify_service/tester-2.py
askify_service/tester-3.py
askify_service/tester-4.py
askify_service/tester.py
/askify_service/migrations
*.pyc
*.md
blog/.DS_Store
/askify_service/static/blog_img
askify_service/static/css/.DS_Store
/askify_app/__pycache__
