askify_app/config.json
*.sqlite3
askify_app/forbidden_words.txt
.env
/docs
/backup
askify_app/settings.py
askify_service/templates/payments/tbank-payment.js
askify_service/tester-2.py
askify_service/tester-3.py
askify_service/tester-4.py
askify_service/tester.py
/askify_service/migrations
*.md
/askify_service/static/blog_img
askify_service/static/css/.DS_Store
/askify_app/__pycache__
*.log
/askify_service/migrations
*.txt
*.pyc
*.DS_Store
mem2.MP4
*.json
