<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'components/meta_tags.html' %}
    {% load static %}
    {% include 'components/linker.html' %}
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        setTimeout(function() {
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        
            ym(98823704, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
            });
        }, 1000);
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/98823704" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    <script src="{% static 'js/second-loader.js' %}"></script>
    {% include 'components/loader.html' %}

    <div id="page-container" class="fade" style="display: none;">

        {% include 'header.html' %}
        <div class="container payment-container payment-status-{% if payment_status == 'Успешно' %}success{% else %}failed{% endif %}">
            <img class="icon-status" src="{% if payment_status == 'Успешно' %}{% static 'img/icon-done.png' %}{% else %}{% static 'img/icon-fail.png' %}{% endif %}" alt="">
            <h2>{{ payment_status }}</h2>
            <p>{{ text_status }}</p>

            <br>

            <h3>{{ plan_name }}</h3>
            
            {% for detail in payment_details %}
            <div class="payment-data">
                <p>{{ detail.label }}</p>
                <p>{{ detail.value }}</p>
            </div>
            {% endfor %}

            <br>

            <div class="container-buttons">
                {% if payment_status == 'Успешно' %}
                <div class="button-medium button-accent">
                    <a href="{% url 'create' %}">
                        <div>
                            <p>Начать использовать</p>
                            <img src="{% static 'img/icon-forward.png' %}" alt="">
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="button-medium button-accent">
                    <a href="{% url 'payment' %}">
                        <div>
                            <p>Повторить попытку</p>
                            <img src="{% static 'img/icon-retry.png' %}" alt="">
                        </div>
                    </a>
                </div>
            {% endif %}
            </div>
            
            
        </div>

        {% include 'footer.html' %}

    </div>
</body>
</html>