<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'components/meta_tags.html' %}
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/png">
    {% include 'components/linker.html' %}
    <link rel="stylesheet" href="{% static 'css/change-plan.css' %}">
    <script src="https://securepay.tinkoff.ru/html/payForm/js/tinkoff_v2.js"></script>
</head>
<body>
    <script src="{% static 'js/second-loader.js' %}"></script>
    {% include 'components/loader.html' %}

    <div id="page-container" class="fade" style="display: none;">
        {% include 'header.html' %}
        
        <div class="container payment-container">
            <h2 class="product-title">Выбор плана</h2>
            <p><strong class="selected_plan_text"></strong></p>

            <div class="subscription-selector">
        
                <div class="subscription-options">
                    <div class="subscription-option" data-plan="standard">
                        <div>
                            <p><strong>Стандартный план</strong></p>
                            <p class="description">Создание тестов</p>
                            <p class="description">Скачивание тестов в PDF</p>
                            <p class="description">50 тестов в сутки</p>
                            <p class="description">Доступ на 30 дней</p>
                        </div>
                        <h3 class="price">220₽</h3>
                    </div>
        
                    <div class="subscription-option active" data-plan="premium">
                        <div>
                            <p><strong>Премиум план</strong></p>
                            <p class="description">Все функции стандартного плана</p>
                            <p class="description">Загрузка своих материалов</p>
                            <p class="description">Обратная связь от ИИ</p>
                            <p class="description">90 тестов в сутки</p>
                            <p class="description">Доступ на 30 дней</p>
                        </div>
                        <h3 class="price">590₽</h3>
                    </div>
        
                    <div class="subscription-option" data-plan="tokens">
                        <div>
                            <p><strong>Пакет токенов</strong></p>
                            <p class="description">100 тыс токенов</p>
                            <p class="description">Скачивание тестов в PDF</p>
                            <p class="description">~50 тестов</p>
                            <p class="description">Без ограничений по времени</p>
                        </div>
                        <h3 class="price">480₽</h3>
                    </div>
                </div>
        
            </div>

            <div class="promo-block">
                <input type="text" id="promo-code" class="promo-input" placeholder="Промокод">
            </div>

            <p class="total-cost">Стоимость - <span id="price_total"></span> руб</p>
            <!-- <p class="next-payment">Следующий платеж - <strong>17.12.2024</strong></p> -->
            <p><strong>! ТЕСТОВЫЕ ПЛАТЕЖИ !</p>

            <div class="agreement">
                <input type="checkbox" id="agreement" class="agreement-checkbox">
                <label for="agreement">Согласен с <a href="/docs/user-agreement">пользовательским соглашением</a> и <a href="/docs/privacy-policy">политикой обработки персональных данных</a>.</label>
            </div>

            <form class="payform-tbank" name="payform-tbank" id="payform-tbank">
                {% csrf_token %}
                <input class="payform-tbank-row" type="hidden" name="terminalkey" value="1731153311116DEMO">
                <input class="payform-tbank-row" type="hidden" name="frame" value="false">
                <input class="payform-tbank-row" type="hidden" name="language" value="ru">
                <input class="payform-tbank-row" type="hidden" name="receipt" value="">
                <input class="payform-tbank-row" type="hidden" placeholder="Сумма заказа" name="amount">
                <input class="payform-tbank-row" type="hidden" placeholder="Номер заказа" name="order" value="{{order_id}}">
                <input class="payform-tbank-row" type="hidden" placeholder="Описание заказа" name="description" value="Тестовый заказ">
                <input class="payform-tbank-row" type="hidden" placeholder="ФИО плательщика" name="name" value="{{fullname}}">
                <div class="contact-container">
                    <input class="payform-tbank-row contact" placeholder="E-mail" name="email" value="{{email}}">
                    <input class="payform-tbank-row contact" placeholder="Контактный телефон" name="phone" value="{{phone}}">
                </div>
                <input class="payform-tbank-row payment-button" type="submit" value="Перейти к оплате">
            </form>
        </div>
        
        {% include 'footer.html' %}
    </div>

    <script src="{% static 'js/plan-selector.js' %}"></script>
    <script type="text/javascript">
        const TPF = document.getElementById("payform-tbank");

        TPF.addEventListener("submit", function (e) {
            e.preventDefault();
            const {description, amount, email, phone} = TPF;

            if (!email.value && !phone.value) {
                return alert("Поле E-mail или Phone не должно быть пустым");
            }

            const requestData = {
                terminalKey: TPF.terminalkey.value,
                amount: amount.value,
                orderId: TPF.order.value,
                description: description.value,
                email: email.value,
                phone: phone.value,
                receipt: JSON.stringify({
                    "EmailCompany": "mail@mail.com",
                    "Taxation": "patent",
                    "FfdVersion": "1.2",
                    "Items": [
                        {
                            "Name": description.value || "Оплата",
                            "Price": amount.value + '00',
                            "Quantity": 1.00,
                            "Amount": amount.value + '00',
                            "PaymentMethod": "full_prepayment",
                            "PaymentObject": "service",
                            "Tax": "none",
                            "MeasurementUnit": "pc"
                        }
                    ]
                })
            };

            const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            fetch('/api/payment/initiate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify(requestData)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok.');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                if (data.Success) {
                    window.location.href = data.PaymentURL;
                } else {
                    alert(`Ошибка: ${data.Message}`);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Произошла ошибка при инициации платежа.');
            });
        });
    </script>

    <script>
        const checkbox = document.getElementById('agreement');
        const submitButton = document.querySelector('.payment-button');

        function updateButtonState() {
            if (checkbox.checked) {
                submitButton.disabled = false;
                submitButton.classList.remove('disabled');
            } else {
                submitButton.disabled = true;
                submitButton.classList.add('disabled');
            }
        }

        checkbox.addEventListener('change', updateButtonState);
        updateButtonState();

    </script>
    
</body>
</html>
