{% load static %}
<section class="image-block">
    <div class="text-overlay">
        <img class="logo" src="{% static 'img/logo-header.png' %}" alt="">
        <h1>Приступим</h1>
        <p>Выполните эти простые шаги, чтобы зарегистрировать свою учетную запись</p>

        <div class="steps-container">
            <div class="step-block white">
                <p class="nummer">1</p>
                <p class="accent">Создайте аккаунт</p>
            </div>
            <div class="step-block">
                <p class="nummer dark">2</p>
                <p>Подтвердите почту</p>
            </div>
            <div class="step-block">
                <p class="nummer dark">3</p>
                <p>Учитесь эффективнее</p>
            </div>
        </div>

    </div>
    <img class="bg-img" src="{% static 'img/auth-image.png' %}" alt="">
</section>