<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Создать тест онлайн с результатами | Летучка Медиа</title>

    <meta name="description" content="Онлайн сервис на русском языке на основе искусственного интеллекта для создания квизов и тестов. Узнайте, как быстро создать тест для урока за 5 минут. Пошаговая инструкция, лучшие сервисы и готовые шаблоны для учителей и преподавателей.">
    <meta name="keywords" content="генератор тестов с ИИ, создать тест, создать тест из статьи автоматически, подготовка к экзаменам, онлайн тесты, ии для создания тестов, летучка, создать тест нейросетью">
    
    <meta property="og:title" content="Сервис для генерации тестов и квизов: {{ title }}">
    <meta property="og:description" content="Узнайте, как Летучка помогает создавать персонализированные тесты за считанные секунды с помощью ИИ. Быстро, удобно и эффективно!">
    <meta property="og:url" content="https://letychka.ru/{{ article_url }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://letychka.ru/static/blog_img/blog-01-002.png">
    <meta name="twitter:card" content="https://letychka.ru/static/letychka-banner-1703.webp"/>
    <meta name="twitter:image" content="https://letychka.ru/static/blog_img/blog-01-002.png"/>
    <meta property="og:site_name" content="letychka.ru">
    
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/ico">
    <link rel="stylesheet" href="{% static 'css/adaptive.css' %}">
    <link rel="stylesheet" href="{% static 'css/docu.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    
        ym(99526445, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/99526445" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    <header>
        <a href="{% url 'home' %}">
            <img src="{% static 'img/logo-header-media.png' %}" alt="">
        </a>
        
        <div class="burger" id="burger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        
        <nav id="nav">
            <ul>
                <li><a href="/create">Начать создавать</a></li>
                <li><a href="/docs/public-offer">Публичная оферта</a></li>
                <li><a href="/docs/privacy-policy">Политика конфиденциальности</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>{{ view_count }}</div>
        <div>{{ content|safe }}</div>
    </main>

    {% include 'footer.html' %}

    <script src="{% static 'js/nav.js' %}"></script>
</body>
</html>
