<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/ico">
    <link rel="stylesheet" href="{% static 'css/adaptive.css' %}">
    <link rel="stylesheet" href="{% static 'css/docu.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=PT+Serif+Caption:ital@0;1&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="{% url 'home' %}">
            <img src="{% static 'img/logo-header.png' %}" alt="">
        </a>
        
        <div class="burger" id="burger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        
        <nav id="nav">
            <ul>
                <li><a href="/create">Начать создавать</a></li>
                <li><a href="/docs/public-offer">Публичная оферта</a></li>
                <li><a href="/docs/user-agreement">Вопросы и ответы</a></li>
                <li><a href="/docs/privacy-policy">Пользовательское соглашение</a></li>
                <li><a href="/docs/privacy-policy">Политика конфиденциальности</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>{{ content|safe }}</div>
    </main>

    {% include 'footer.html' %}

    <script src="{% static 'js/nav.js' %}"></script>
</body>
</html>
