<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка {{ error_code }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/second-loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/adaptive.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    <script src="{% static 'js/second-loader.js' %}"></script>
    {% include 'components/loader.html' %}

    <div id="page-container" class="fade" style="display: none;">
        {% include 'header.html' %}

        <div class="container profile">
            <h1>{{ error_code }}</h1>
            <hr>
            <h3>Что-то пошло не так :(</h3>
            <p>{{ error_message }}</p>
            <div class="button-medium">
                <a href="{% url 'home' %}">
                    <div class="button-content">
                        <img src="{% static 'img/icon-back.png' %}" alt="">
                        <p>Вернуться назад</p>
                    </div>
                </a>
            </div>
        </div>

        {% include 'footer.html' %}
    </div>

</body>
</html>
