<footer>
    {% load static %}
    <div class="footer-container">
        
        <div class="footer-block">
            <h3>Контакты</h3>
            <ul>
                <p>Перейти в бот<br><a href="https://t.me/LetychkaRobot">LetychkaRobot</a></p>
                <p>Написать на почту<br><a href="mailto:support@letychka.ru">support@letychka.ru</a></p>
            </ul>
        </div>

        <div class="footer-block">
            <h3>Медиа</h3>
            <ul>
                <li><a href="https://letychka.ru/media/main/">Блог</a></li>
                <li><a href="https://productradar.ru/product/letuchka/" target="_blank">Product Radar</a></li>
                <li><a href="https://dprofile.ru/case/106507/letucka-ai-servis-dlia-generacii-testov/" target="_blank">Dprofile</a></li>
                <li><a href="https://www.behance.net/gallery/217116137/Letychka-letuchka-AI-servis-dlja-generacii-testov/" target="_blank">Behance</a></li>
                <li><a rel='nofollow' href="https://dribbble.com/shots/25153751-LETYCHKA-B2C-AI-Service-Promo/" target="_blank">Dribbble</a></li>
                <!-- <li><a href="https://dribbble.com/shots/25153751-LETYCHKA-B2C-AI-Service-Promo" target="_blank">Dribbble</a></li> -->
            </ul>
        </div>
        
        <div class="footer-block">
            <h3>Полезные ссылки</h3>
            <ul>
                <li><a href="/dlya-prepodavateley">Преподавателям</a></li>
            </ul>
            <ul>
                <li><a href="/available-plans">Тарифы</a></li>
                <li><a href="/docs/public-offer">Публичная оферта</a></li>
                <li><a href="/docs/user-agreement">Пользовательское соглашение</a></li>
                <li><a href="/docs/privacy-policy">Политика конфиденциальности</a></li>
            </ul>
        </div>

    </div>
    
    <div class="footer-bottom">
        <p>2024-2025 Летучка. <a rel='nofollow' href="https://dprofile.ru/kozak_developer" target="_blank">Design by Kozak</a></p>
    </div>
</footer>