<footer>
    <div class="footer-container">
        <div class="footer-social">
            <h3>Социальные сети</h3>
            <ul>
                <li><a href="https://behance.com" target="_blank">Behance</a></li>
                <li><a href="https://dprofile.ru/kozak_developer" target="_blank">Dprofile</a></li>
                <li><a href="https://dribbble.com" target="_blank">Dribbble</a></li>
            </ul>
        </div>
        
        <div class="footer-contact">
            <h3>Контакты</h3>
            <p>Написать в бот<br><a href="https://t.me/Robot">LetuchkaRobot</a></p>
            <p>Написать на почту<br><a href="mailto:info@example.com">letuchka@support.com</a></p>
        </div>
        
        <div class="footer-links">
            <h3>Полезные ссылки</h3>
            <ul>
                <li><a href="{% url 'home' %}">Публичная оферта</a></li>
                <li><a href="{% url 'home' %}">Политика конфиденциальности</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Летучка. Все права защищены.</p>
    </div>
</footer>
