<footer>
    <hr>
    <div class="footer-container">
        <div class="footer-links">
            <h4>Полезные ссылки</h4>
            <ul>
                <li><a href="{% url 'home' %}">Цели</a></li>
                <li><a href="{% url 'home' %}">Преимущества</a></li>
                <li><a href="{% url 'home' %}">Контакты</a></li>
                <li><a href="{% url 'home' %}">Политика конфиденциальности</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h4>Контакты</h4>
            <p>Email: <a href="mailto:info@example.com">letuchka@support.com</a></p>
        </div>
        <div class="footer-social">
            <h4>Социальные сети</h4>
            <ul>
                <li><a href="https://linkedin.com" target="_blank">Product Radar</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Летучка. Все права защищены.</p>
    </div>
</footer>
