{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>

<header class="header">

    <div class="logo-header">
        <a href="{% url 'create' %}">
            <img src="{% static 'img/logo-header-beta.png' %}" alt="">
        </a>
    </div>
    
    <div class="menu-container" style="position: relative;">
        <div class="burger" id="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    
        <nav id="nav">
            <ul>
                {% if subscription_level < 1 %}
                    <li><a href="{% url 'payment' %}">Купить премиум 💎</a></li>
                {% endif %}
                <li><a href="/profile/{{ username }}">Перейти в профиль</a></li>
                <li><a href="{% url 'create' %}">Создать тест</a></li>
                <li><a href="{% url 'history' %}">История тестов</a></li>
                <hr>
                <li><a href="{% url 'logout' %}">Выйти</a></li>
            </ul>
        </nav>
    </div>
    
    <!-- <div class="auth-buttons" data-authenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}">
        <div class="button-medium">
            <a href="{% url 'login' %}">
                <div>
                    <p>Вход</p>
                </div>
            </a>
        </div>
        <div class="button-medium button-accent reg-button">
            <a href="{% url 'register' %}">
                <div>
                    <p>Регистрация</p>
                </div>
            </a>
        </div>
    </div> -->

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const navigation = document.querySelector('.navigation');
            const authButtons = document.querySelector('.auth-buttons');
            const isAuthenticated = authButtons.getAttribute('data-authenticated') === 'true';
    
            if (isAuthenticated) {
                authButtons.style.display = 'none';
                navigation.style.display = 'none';
            }
        });
    </script>

    <script src="{% static 'js/nav.js' %}"></script>

</header>
