{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>

<header class="header">

    <div class="logo-header">
        <a href="{% url 'create' %}">
            <img src="{% static 'img/logo-header.webp' %}" alt="">
        </a>
    </div>
    
    <div class="menu-container" style="position: relative;">
        <div class="burger" id="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    
        <nav id="nav">
            {% if username %}
                <ul>
                    {% if subscription_level < 1 %}
                        <li><a href="{% url 'payment' %}">Купить премиум 💎</a></li>
                    {% endif %}
                    <li><a href="/profile/{{ username }}">Перейти в профиль</a></li>
                    <li><a href="{% url 'history' %}">История тестов</a></li>
                    <li><a href="{% url 'create' %}">Создать тест</a></li>
                    <hr>
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                </ul>
            {% else %}
                <ul>
                    <li><a href="/docs/privacy-policy">Политика конфиденциальности</a></li>
                    <li><a href="/docs/user-agreement">Пользовательское соглашение</a></li>
                    <hr>
                    <li><a href="/">На главную</a></li>
                </ul>
            {% endif %}
        </nav>
    </div>
    <script src="{% static 'js/nav.js' %}"></script>

</header>
