<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Летучка • Вход</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/second-loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
</head>
<body>
    <script src="{% static 'js/second-loader.js' %}"></script>
    {% include 'components/loader.html' %}

    {% for message in messages %}
        <div id="alertContainer" class="alert" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    
    <div id="page-container" class="fade" style="display: none;">
        <div class="container">
            
            {% include 'components/auth-block.html' %}

            <section class="content-container">
                <h2>Вход</h2>

                <div>
                    <div>
                        <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
                        <script type="text/javascript">
                          if ('VKIDSDK' in window) {
                            const VKID = window.VKIDSDK;
                      
                            VKID.Config.init({
                              app: 52653516,
                              redirectUrl: 'https://letychka.ru/create/',
                              responseMode: VKID.ConfigResponseMode.Callback,
                              source: VKID.ConfigSource.LOWCODE,
                            });
                      
                            const oneTap = new VKID.OneTap();
                      
                            oneTap.render({
                              container: document.currentScript.parentElement,
                              showAlternativeLogin: true,
                              styles: {
                                borderRadius: 20
                              }
                            })
                            .on(VKID.WidgetEvents.ERROR, vkidOnError)
                            .on(VKID.OneTapInternalEvents.LOGIN_SUCCESS, function (payload) {
                              const code = payload.code;
                              const deviceId = payload.device_id;
                      
                              VKID.Auth.exchangeCode(code, deviceId)
                                .then(vkidOnSuccess)
                                .catch(vkidOnError);
                            });
                          
                            function vkidOnSuccess(data) {
                                console.log("vkidOnSuccess", data);
                            
                                const userData = {
                                    vk_id: data.user.id,
                                    name: data.user.first_name + ' ' + data.user.last_name, // Имя пользователя
                                    phone: data.user.phone || null,
                                    email: data.user.email || null,
                                };
                            
                                // Отправка данных на бэк
                                fetch('/api/auth/vk/', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify(userData),
                                })
                                .then(response => response.json())
                                .then(result => {
                                    console.log(result);
                                    if (result.status === 'success') {
                                        alert('Данные успешно сохранены!');
                                    } else {
                                        alert('Ошибка при сохранении данных.');
                                    }
                                })
                                .catch(error => console.error('Ошибка:', error));
                            }
                          
                            function vkidOnError(error) {
                                console.log(error)
                            }
                          }
                        </script>
                      </div>
                  </div>

                <form id="loginForm" method="post">
                    {% csrf_token %}
                    <input type="text" id="username" name="username" placeholder="Никнейм" required>
                    <div id="usernameError" class="error-message" style="display: none;"></div>
                    <input type="password" name="password" placeholder="Пароль" required>
                    <button type="submit">Войти</button>
                </form>
                <div class="already-exist">
                    <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
                </div>
                <div class="already-exist">
                    <p><a href="{% url 'register' %}">Забыли пароль?</a></p>
                </div>
                <div>
                    <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
                    <script type="text/javascript">
                      if ('VKIDSDK' in window) {
                        const VKID = window.VKIDSDK;
                  
                        VKID.Config.init({
                          app: 52653516,
                          redirectUrl: 'https://letychka.ru/payment/success/',
                          responseMode: VKID.ConfigResponseMode.Callback,
                          source: VKID.ConfigSource.LOWCODE,
                        });
                  
                        const oAuth = new VKID.OAuthList();
                  
                        oAuth.render({
                          container: document.currentScript.parentElement,
                          scheme: 'dark',
                          oauthList: [
                            'vkid'
                          ]
                        })
                        .on(VKID.WidgetEvents.ERROR, vkidOnError)
                        .on(VKID.OAuthListInternalEvents.LOGIN_SUCCESS, function (payload) {
                          const code = payload.code;
                          const deviceId = payload.device_id;
                  
                          VKID.Auth.exchangeCode(code, deviceId)
                            .then(vkidOnSuccess)
                            .catch(vkidOnError);
                        });
                      
                        function vkidOnSuccess(data) {
                          // Обработка полученного результата
                        }
                      
                        function vkidOnError(error) {
                          // Обработка ошибки
                        }
                      }
                    </script>
                  </div>
            </section>

        </div>

        {% include 'footer.html' %}
        <script src="{% static 'js/validation.js' %}"></script>

        <script>
            const clientId = '7b09de637b09de637b09de6325782ab3af77b097b09de631c385ca246d43f689073405f'; // Замените на ваш client_id
            const redirectUri = '/create/'; // Замените на ваш redirect_uri
            const scopes = 'vkid.personal_info'; // Укажите необходимые права доступа
    
            function generateCodeVerifier() {
                const array = new Uint32Array(28);
                window.crypto.getRandomValues(array);
                return Array.from(array, dec => ('0' + dec.toString(16)).slice(-2)).join('');
            }
    
            function base64UrlEncode(str) {
                return btoa(str).replace(/\+/g, '-').replace(/\//g, '_').replace(/=+$/, '');
            }
    
            async function generateCodeChallenge(codeVerifier) {
                const encoder = new TextEncoder();
                const data = encoder.encode(codeVerifier);
                const hash = await window.crypto.subtle.digest('SHA-256', data);
                return base64UrlEncode(String.fromCharCode(...new Uint8Array(hash)));
            }
    
            async function generateCodeChallenge() {
                const codeVerifier = generateCodeVerifier();
                const codeChallenge = await generateCodeChallenge(codeVerifier);
                const state = 'random_state_string'; // Замените на вашу строку состояния
    
                sessionStorage.setItem('code_verifier', codeVerifier);
    
                const authUrl = `https://id.vk.com/authorize?client_id=${clientId}&redirect_uri=${encodeURIComponent(redirectUri)}&response_type=code&scope=${scopes}&state=${state}&code_challenge=${codeChallenge}&code_challenge_method=s256`;
    
                window.location.href = authUrl;
            };
        </script>

    </body>
</html>
