<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Летучка • Вход</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    {% for message in messages %}
        <div id="alertContainer" class="alert" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    
    <div class="">
        <div class="container">
            
            {% include 'components/auth-block.html' %}

            <section class="content-container">
                <h2>Вход</h2>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Никнейм" required>
                    <input type="password" name="password" placeholder="Пароль" required>
                    <button type="submit">Войти</button>
                </form>
                <div class="already-exist">
                    <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
                </div>
            </section>

        </div>

        {% include 'footer.html' %}

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const alerts = document.querySelectorAll('.alert');
                alerts.forEach((alert) => {
                    alert.classList.add('show'); // Показываем алерт
    
                    setTimeout(() => {
                        alert.classList.remove('show'); // Убираем класс show для анимации исчезновения
                        setTimeout(() => {
                            alert.remove(); // Удаляем элемент из DOM после анимации
                        }, 500); // Время, соответствующее CSS transition
                    }, 5000); // Задержка перед исчезновением
                });
            });
        </script>

    </body>
</html>