<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти при помощи Telegram: Летучка</title>
    {% load static %}
    {% include 'components/linker.html' %}
    <script src="{% static 'js/auth-telegram.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/second-loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>

<style>
    body {
        background-image: url('{% static "img/bg-sphere.webp" %}');
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    @media (max-width: 768px) { 
        body {
            background-image: url('{% static "img/bg-sphere-mobile.webp" %}');
            background-size: contain;
        }
    }
</style>

<body>
    <script src="{% static 'js/second-loader.js' %}"></script>
    {% include 'components/loader.html' %}

        <div id="page-container" class="fade" style="display: none;">
            {% include 'header.html' %}

        <div class="container-background">
            <div class="enter-phone-container">
                <form class="enter-phone-form" id="phone-input" method="post" onsubmit="submitForm(event);">
                    {% csrf_token %}
                    <h2>Введите номер телефона</h2>

                    <div class="already-exist">
                        <p class="subs">Введите свой номер телефона для быстрой и безопасной авторизации. Это позволит легко входить в систему в будущем, не запоминая пароли.</p>
                    </div>

                    <input type="text" name="phone_number" placeholder="+7 999 888 77 66" required  oninput="formatPhoneNumber(this)">
                    <button type="submit">Отправить</button>
                </form>
        
                <div id="code-input" style="display: none;">
                    <h3>Введите код, отправленный вам в Telegram</h3>
                        <form method="post" action="{% url 'verify_code' %}" onsubmit="verifyCode(event);">
                            {% csrf_token %}
                            <input type="text" name="verification_code" placeholder="Код" required>
                        <button type="submit">Подтвердить</button>
                    </form>
                </div>

                <div class="already-exist">
                    <p><a href="{% url 'login' %}">Войти при помощи логина</a></p>
                    <hr>
                    <p class="subs">Мы заботимся о Вашей конфиденциальности ваших данных</p>
                    <a href="/docs/privacy-policy">Политика конфиденциальности</a>
                </div>

                <div class="already-exist">
                </div>
        
                <div id="referral-link" style="margin-top: 20px;">
                </div>
            </div>
        </div>
        
        {% include 'footer.html' %}
    </div>

    <script src="{% static 'js/phone-validation.js' %}"></script>

</body>

</html>
