<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'components/meta_tags.html' %}
    <meta name="description" content="Профиль пользователя {{ user.username }}">
    <meta name="keywords" content="профиль, пользователь, {{ user.username }}">
    {% load static %}
    {% include 'components/linker.html' %}
</head>
<body>
    <script src="{% static 'js/second-loader.js' %}"></script>
    {% include 'components/loader.html' %}

    <div id="page-container" class="fade" style="display: none;">
        {% include 'header.html' %}

        <main class="profile-main">
        <div class="container profile-container">
            <div class="profile-header">
                <h1>{{ username }}</h1>
                <p>Ваш личный кабинет и статистика</p>
            </div>

            <div class="profile-section">
                <h3><i class="fas fa-gem"></i> Активный план</h3>
                <ul class="profile-list">
                    <li>
                        <span class="label">Тариф</span>
                        <span class="value plan-name">{{ subscription.plan_name }}</span>
                    </li>
                    <li>
                        <span class="label">Действителен до</span>
                        <span class="value">{{ subscription.plan_end_date }}</span>
                    </li>
                </ul>
                {% if subscription.days_until_end is not none and subscription.days_until_end < 3 %}
                    <a class="button-medium button-accent section-action-button" href="{% url 'payment' %}"><div><p>Продлить 💎</p></div></a>
                {% elif subscription_level < 2 or subscription_level == 99 %}
                    <a href="{% url 'payment' %}" class="button-medium button-accent section-action-button"><div><p>Купить Премиум 💎</p></div></a>
                {% endif %}
            </div>

            <hr class="profile-divider">

            <div class="profile-section">
                <h3><i class="fas fa-user-cog"></i> Аккаунт</h3>
                <ul class="profile-list">
                    {% if email %}<li><span class="label">E-mail</span><span class="value">{{ user.email }}</span></li>{% endif %}
                    {% if phone != 'Телефон: Не указан' %}<li><span class="label">Телефон</span><span class="value">{{ user.phone }}</span></li>{% endif %}
                </ul>
                <div class="account-actions">
                    {% if password != '' %}
                        <form method="post" action="{% url 'password_reset' %}">
                            {% csrf_token %}
                            <button type="submit" class="button-medium"><div><p>Сбросить пароль</p></div></button>
                        </form>
                    {% endif %}
                    <div class="button-medium button-red" id="logout-button"><div><p>Выйти из аккаунта</p></div></div>
                </div>
                 {% if user.is_superuser %}
                    <a class="button-medium admin-button" href="{% url 'db_viewer' %}"><div><p>Админ-панель 👑</p></div></a>
                {% endif %}
            </div>
            
            <hr class="profile-divider">

            <div class="profile-section">
                <h3><i class="fas fa-chart-pie"></i> Статистика</h3>
                <ul class="profile-list">
                    <li>
                        <span class="label">Создано тестов</span>
                        <span class="value">{{ statistics.total_tests }}</span>
                    </li>
                    <li>
                        <span class="label">Пройдено учениками</span>
                        <span class="value">{{ statistics.passed_tests }}</span>
                    </li>
                    <li>
                        <span class="label">Лучший результат</span>
                        <span class="value">{{ statistics.best_result }}</span>
                    </li>
                </ul>
            </div>

            <hr class="profile-divider">

            <div class="profile-section">
                <h3><i class="fas fa-sliders-h"></i> Лимиты и Использование</h3>
                <ul class="profile-list">
                    <li>
                        <span class="label">Доступно тестов сегодня</span>
                        <span class="value accent-color-text">{{ tokens.tests_remaining_count_limit }} / {{ tokens.tests_total_limit }}</span>
                    </li>
                    <li>
                        <span class="label">Токены ИИ (тесты)</span>
                        <span class="value">{{tokens.surveys}}</span>
                    </li>
                     <li>
                        <span class="label">Токены ИИ (фидбэк)</span>
                        <span class="value">{{tokens.feedback}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <div id="modal-exit" class="modal">
        <div class="modal-content">
            <h3>Вы уверены?</h3>
            <p>После подтверждения вы будете перенаправлены на страницу авторизации</p>
            <div class="buttons-container">
                <button id="cancel-logout" class="">Отмена</button>
                <button id="confirm-logout"  class="button-red">Выйти</button>
            </div>
        </div>
    </div>

    <script>
        function modalWindow(elementId) {
            document.getElementById('logout-button').addEventListener('click', function() {
                document.getElementById(elementId).style.display = 'flex';
            });
            
            document.getElementById('cancel-logout').addEventListener('click', function() {
                document.getElementById(elementId).style.display = 'none';
            });
            
            document.getElementById('confirm-logout').addEventListener('click', function() {
                window.location.href = "{% url 'logout' %}";
            });
        }

        modalWindow('modal-exit-menu');
        modalWindow('modal-exit');
    </script>

</body>
</html>
