<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'components/meta_tags.html' %}
    <meta name="description" content="Профиль пользователя {{ user.username }}">
    <meta name="keywords" content="профиль, пользователь, {{ user.username }}">
    {% load static %}
    {% include 'components/linker.html' %}
</head>
<body>
    <script src="{% static 'js/second-loader.js' %}"></script>
    {% include 'components/loader.html' %}

    <div id="page-container" class="fade" style="display: none;">
        {% include 'header.html' %}
        
        <div class="container profile" id="profile-container">
            <h2>Профиль <span class="accent-color-text">{{ username }}</span></h2>

            <div class="profile-info">
                <p>{{ email }}</p>
                <p>{{ phone }}</p>
                <p>{{ password }}</p>

                <ul>
                    <li class="small-text">Последняя авторизация: {{ date_last_login }}</li>
                    <li class="small-text">Дата регистрации: {{ date_join }}</li>
                </ul>

                {% if password != '' %}
                    <form method="post" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        <div class="button-medium">
                            <button type="submit">
                                <div>
                                    <p>Сбросить пароль</p>
                                    <img src="{% static 'img/icon-retry.png' %}" alt="">
                                </div>
                            </button>
                        </div>
                    </form>
                {% endif %}
                <!-- <div class="button-medium">
                    <a href="{% url 'verify_email' token=token %}">
                        <div>
                            <p>Подтвердить почту</p>
                            <img src="{% static 'img/icon-confirm.png' %}" alt="">
                        </div>
                    </a>
                </div> -->
                
            </div>

            <hr>

            <div class="profile-info">
                <h3>Статистика</h3>
                <ul>
                    <li>Создано тестов: <span class="accent-color-text">{{ statistics.total_tests }}</span></li>
                    <li>Средний балл: <span id="accent-color">{{ statistics.average_score }} / 5</span></li>
                </ul>
            </div>

            <hr>

            <div class="profile-info">
                <h3>Активный план</h3>
                <ul>
                    <li>План <strong>{{subscription.plan_name}}</strong></li>
                    <li>Заканчивается <strong>{{subscription.plan_end_date}}</strong></li>
                </ul>
                {% if subscription.days_until_end is not none and subscription.days_until_end < 3 %}
                    <div class="button-medium button-accent">
                        <a href="{% url 'payment' %}">
                            <div>
                                <p>Продлить {{subscription.plan_name}} 💎</p>
                            </div>
                        </a>
                    </div>
                {% elif subscription_level < 2 %}
                    <div class="button-medium">
                        <a href="{% url 'payment' %}">
                            <div>
                                <p>Купить премиум 💎</p>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>

            <hr>

            <div class="profile-info">
                <h3>Токены</h3>
                <ul>
                    <li>Для тестов <span class="accent-color-text">{{tokens.surveys}}</span></li>
                    <li>Для фидбэка <span class="accent-color-text">{{tokens.feedback}}</span></li>
                    <li>Всего использовано <span class="accent-color-text">{{tokens.total_tokens}} / {{tokens.limit_tokens}}</span></li>
                </ul>
            </div>

            <div class="head-button">
                <div class="button-medium">
                    <a href="{% url 'profile' username %}">
                        <div>
                            <p>Редактировать профиль</p>
                            <img src="{% static 'img/icon-edit.png' %}" alt="">
                        </div>
                    </a>
                </div>
                <div class="button-medium button-red">
                    <a href="{% url 'logout' %}">
                        <div>
                            <p>Выйти из профиля</p>
                            <img src="{% static 'img/icon-logout.png' %}" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}
    </div>
    
    <script>
        function getColor(averageScore) {
            averageScore = Math.max(0, Math.min(5, averageScore));

            let red, green;

            if (averageScore <= 3) {
                red = 255;
                green = Math.round(255 * (averageScore / 5));
            } else if (averageScore <= 3.8) {
                red = 255;
                green = 255;
            } else if (averageScore <= 4.2) {
                red = Math.round(255 * (1 - (averageScore - 3) / 1.5));
                green = 255;
            } else {
                red = 0;
                green = 255;
            }
        
            return `rgb(${red}, ${green}, 0)`;
        }
        
        const averageScore = {{ statistics.average_score }};
        const color = getColor(averageScore);
        
        const scoreElement = document.getElementById('accent-color');
        scoreElement.style.color = color;
    </script>
</body>
</html>
