<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Летучка • Вход</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
<body>
    <div>
        <div class="container">

            {% include 'components/auth-block.html' %}

            <section class="content-container">
                <h2>Регистрация</h2>
                <form method="post" class="registration-form">
                    {% csrf_token %}
                    <p>
                        <label for="id_username">Никнейм</label>
                        <input type="text" name="username" maxlength="150" autofocus required id="id_username">
                    </p>
            
                    <p>
                        <label for="id_email">Email адрес</label>
                        <input type="email" name="email" maxlength="254" id="id_email">
                    </p>
            
                    <p>
                        <label for="id_password1">Пароль</label>
                        <input type="password" name="password1" autocomplete="new-password" id="id_password1" required>
                    </p>
            
                    <p>
                        <label for="id_password2">Подтверждение пароля</label>
                        <input type="password" name="password2" autocomplete="new-password" id="id_password2" required>
                    </p>
            
                    <p class="usable_password">
                        <div id="id_usable_password" class="radiolist inline">
                            <div>
                                <label for="id_usable_password_0">
                                    <input type="radio" name="usable_password" value="true" id="id_usable_password_0" checked>
                                    Включено
                                </label>
                            </div>
                            <div>
                                <label for="id_usable_password_1">
                                    <input type="radio" name="usable_password" value="false" id="id_usable_password_1">
                                    Отключено
                                </label>
                            </div>
                        </div>
                        <span class="helptext" id="id_usable_password_helptext">Пользователь сможет аутентифицироваться с помощью пароля или нет. Если отключено, он все равно сможет аутентифицироваться с помощью других методов, таких как SSO или LDAP.</span>
                    </p>
            
                    <button type="submit">Зарегистрироваться</button>
                    <div class="already-exist">
                        <p>Есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
                    </div>
                </form>
            </section>

        </div>

        {% include 'footer.html' %}

    </body>
</html>