<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подписка</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/second-loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/adaptive.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    <script src="{% static 'js/second-loader.js' %}"></script>
    {% include 'components/loader.html' %}

    <div id="page-container" class="fade" style="display: block;">
        {% include 'header.html' %}
    
        <div class="container" id="subscription-container">
            <h2>Доступные подписки</h2>
            <div class="subscription-list">
                {% for subscription in subscriptions %}
                    <div class="subscription-block">
                        <h3>{{ subscription.plan_name }}</h3>
                        <p><strong>Статус:</strong> {{ subscription.status }}</p>
                        <p><strong>Срок действия:</strong> {{ subscription.end_date }}</p>
                        <p><strong>Скидка:</strong> {{ subscription.discount }}%</p>
                        <p><strong>Цикл биллинга:</strong> {{ subscription.billing_cycle }}</p>
                        <form method="post" action="{% url 'subscription_list' %}">
                            {% csrf_token %}
                            <input type="hidden" name="plan_name" value="{{ subscription.plan_name }}">
                            <button type="submit" class="button-medium button-accent">Подписаться</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/second-loader.js' %}"></script>
    
    {% include 'footer.html' %}
    
    <style>
        .subscription-list {
            display: flex;
            flex-direction: column;
        }
        .subscription-block {
            background-color: #2A2A2E;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            color: #d5d3db;
        }
        .subscription-list button {
            padding: 10px 16px 10px 16px;
        }
        .subscription-block h3 {
            margin: 0 0 10px;
        }
    </style>
    
</body>
</html>